:root {
    box-sizing: border-box;
    --background-color: #282a2e;
    --theme-color: #ccf7ff;
}
@font-face {
    font-family: "Open Sans";
    src: url('/fonts/open-sans/files/open-sans-latin-400-normal.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Xanh Mono";
    src: url('/fonts/xanh-mono/files/xanh-mono-latin-400-normal.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--background-color);
    /* border: 1px solid red; */
    font-family: "Open Sans", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    margin: auto;
    width: 60%;
    padding: 10px;
    border: 1px solid var(--theme-color);
    border-radius: 20px;
}

.header {
    flex: 0 0 auto;
    /* border: 1px solid var(--theme-color); */
    /* position: sticky; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    height: 50px;;
    padding: 0 10px;
    font-family: "xanh mono", monospace;
    color: var(--theme-color);
    h1 {
        font-size: 24px;
    }
    .discord-btn {
        color: white;
        background-color: none;
        all: unset;
        cursor: pointer;
    }
}

.chat-room {
    flex: 1;              /* takes all remaining height */
    display: flex;
    flex-direction: column;
    overflow: hidden;    
    width: 100%;
    margin: auto;
    padding: 0 10px;
    /* border: 1px solid green; */
}

.message-list {
    flex: 1;           /* grows to fill space above the input */
    overflow-y: auto;   /*  THIS is the only scrollable area */
    width: 100%;
    border: 1px solid var(--theme-color);
    background-color: azure;
    padding: 15px;
    margin: auto;
    margin-bottom: 30px;
}

.message-input-wrapper {
    flex: 0 0 auto;       /* stays pinned at the bottom, never shrinks */
    margin: 0 auto 20px auto;
    width: 100%;
    height: 80px;
    /* border: 1px solid purple; */
    position: sticky;
    bottom: 0;
    background-color: var(--background-color);
}

.message-textarea {
    width: 80%;
    padding: 12px 80px 12px 12px; /* right padding = space for button */
    border-radius: 5px;
    min-height: 50px;
    border: 1px solid var(--theme-color);
    -webkit-box-shadow: -1px 2px 6px 2px rgba(204,247,255,0.93); 
    box-shadow: -1px 2px 6px 2px rgba(204,247,255,0.93);
}

.send-button {
  position: absolute;
  right: 8px;
  bottom: 45px; /* or top: 50% + transform if you want vertical center */
}

@media screen and (max-width: 840px) {
    main {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .header h1 {
        font-size: 18px;
    }

    main {
        width: 98%;
    }
    
}